* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
    perspective: 800px;
}

#cursor {
    background-color: #95C11E;
    width: 20px;
    height: 20px;
    position: fixed;
    border-radius: 50%;
    z-index: 99;
}

#cursor-blur {
    background-color: #96c11e49;
    width: 300px;
    height: 300px;
    position: fixed;
    border-radius: 50%;
    filter: blur(40px);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    padding: 0 150px;
    width: 100%;
    height: 120px;
    gap: 45px;
    z-index: 99;
}

#nav img {
    height: 60px;
}

#nav h4 {
    font-weight: 500;
    text-transform: uppercase;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.603);
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    /* margin-top: 60px; */
}

#page1 h4 {
    font-size: 120px;
    font-weight: 900;
    position: relative;
}

#page1 h2 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p {
    font-size: 20px;
    font-weight: 200;
    width: 40%;
}

#page1 h4::before {
    content: "EAT.DRINK.PLAY";
    position: absolute;
    color: #000;
    top: -5px;
    left: -5px;
    z-index: -1;
    -webkit-text-stroke: 2px #95C11E;
}

#page1 .arrow{
    position: absolute;
    height: 250px;
    width: 250px;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #95C11E;
    margin-right: 90%;
    bottom: 5%;
    transition: all ease 0.5s;
} 
#page1 .arrow:hover{
scale:0.4;
background-color: #95c11e;

}
.arrow{
    font-size: 50px;
}
#page2 {
   min-height:  100vh;
    width: 100%;
    z-index: 10;
}


.scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    z-index: 10;
}

.scroller h4 {
    display: inline-block;
    font-size: 120px;
    font-weight: 800;
    font-family: "gilroy";
    transition: all linear 0.5s;
    -webkit-text-stroke: 2px #95C11E;
    color: transparent;
} 
.scroller::-webkit-scrollbar{
    display: none;
}
.scroller_in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
animation-iteration-count: infinite;}

.scroller h4:hover{
    color: #95C11E;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#aboutus{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    position: relative;
    z-index: 10;
    /* backdrop-filter: blur(10px);  */
}
#aboutus img{
    
        height: 220px;
        width: 220px;
        border-radius: 20px;
        object-fit: cover;

}
#aboutin{
  width: 50%;
 text-align: center;

}
#aboutin h3{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 40px;
    text-transform: uppercase;
}
#aboutin p{
    font-size: 20px;
    line-height: 20px;
}
.cardcontainer{
    margin-top: 10px;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    gap: 65px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 10;
    

}
.card1{
    /* height: 60%;
    width: 20%;
    background-color: purple;
    border-radius: 10px; */


    height: 70%;
    width: 24%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
     overflow: hidden; 
    transition: all ease 0.6s; 
}
#card1{
    background-image: url('https://sidcup-family-golf-rishabh07r.netlify.app/Assests/card1.avif');

}
#card2{
    background-image: url('https://sidcup-family-golf-rishabh07r.netlify.app/Assests/card2.webp');

}
#card3{
    background-image: url('https://sidcup-family-golf-rishabh07r.netlify.app/Assests/card3.avif');
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: #95C11E;
    padding: 30px;
    padding-top: 80px;
    opacity: 0;
    transition: all ease 0.6s; 
    border-radius: 20px;


}
.overlay h4{
    color: black;
    font-size: 30px;
  white-space: nowrap;

    text-transform: uppercase;
    text-size-adjust: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.overlay p{
    color: black;
    font-size: 18px;
}
.card1:hover .overlay{
    opacity: 1;
}
.card1{
    transform: rotate3d(-1,1,0,20deg)

}
.greenblock{
    
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: red; */
        background: linear-gradient(to left bottom, #119f3a, #ace022);
    }


.greenblock img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}
.greenblock h4{

    text-transform: uppercase;
    width: 50%;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
color: black;    
    white-space: 'nowrap';

}
#page3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#page3>p{
    width: 55%;
    font-size: 30px;
    font-weight:  700;
    line-height: 45px;
    text-align: center;

}
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    top: 25%;
    left: 15%;
}
#page3 #colon2{
    bottom: 30%;
    right: 15%;
}

#page4 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
  }
  .elem {
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
  }
  
  .elem h2 {
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    display: flex;
    color: #000;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    font-size: 2vw;
    position: absolute;
    z-index: 10;
  }
  .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
  }
  .elem:hover h2 {
    color: #fff;
    background-color: transparent;
  }
  .elem:hover img {
    scale: 1;
  }
  #page4 h1 {
    font-size: 6.2vw;
    position: absolute;
    top: -15%;
    font-weight: 900;
    font-family: gilroy;
    color: #000;
    -webkit-text-stroke: 2px #fff;
  }
  #footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
  }
  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }